@model int
<div class="container row pt-4 fw-bolder">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">報名完成! Application Placed Successfully!</h1>
       報名序號 : @Model <br/><br/>
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        報名已完成! Your application has been placed successfully! <br />
    </div>

</div> 