
<div class="card shadow border-0 my-4 fw-bolder">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 fw-bolder">
        <div class="row fw-bolder">
            <div class="col-12 text-center fw-bolder">
                <h2 class="text-white py-2 fw-bolder">宗親會清單</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  新增宗親會
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped fw-bolder" style="width:100%">
            <thead>
                <tr>
                    <th>名稱</th>
                    <th>地址</th>
                    <th>城巿</th>
                    <th>國家</th>
                    <th>電話</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/company.js"></script>
}
