<div class="card shadow border-0 my-4 fw-bolder">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 fw-bolder">會員清單</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 fw-bolder">
        <table id="tblData" class="table table-bordered table-striped fw-bolder" style="width:100%">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>電子信箱</th>
                    <th>電話</th>
                    <th>公司</th>
                    <th>權限</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}
