@page
@model PersonalDataModel
@{
    ViewData["Title"] = "個人檔案";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>您的帳戶包含您提供給我們的個人資料。此頁面允許您下載或刪除該數據.</p>
        <p>
            <strong>刪除這些資料將永久刪除您的帳戶，並且無法恢復。.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">下載</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">刪除</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
